.app {
  text-align:center;
  pointer-events:none;
  background-color: #cc4e4e;
  font-family:'Times New Roman', Times, serif
}

.App-header {
  background-color: #c27878;
  min-height: 10vh;
  display: flex;
  justify-content:center;
  font-size: calc(12px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-logo {
  padding: 2%;
  height: 15vmin;
}

.Features{
  display:contents;
  flex-wrap: wrap;
  font-size:calc(12px + 2vmin) ;
}

#feature{
  float: left;
  flex-direction: column;
  padding: 2%;
  height:30vmin;
  pointer-events:auto;
}